{{template "./tpl/base.html"}}
{{define "title"}} create article {{end}}

{{block "content" .}}

<h1 class="container lead my-3">create article</h1>
	
<form class="card" method="POST">
	
	<div class="card-body">
	<sup>title</sup>
	<input type="text" name="title" class="form-control">
	<sup>description</sup>
	<input type="text" name="description" class="form-control">
	</div>
  
	<div class="card-footer">
	<input type="submit" value="submit" class="btn btn-sm btn-outline-primary mt-2">
	</div>

</form>
	  
{{end}}