{{template "./tpl/base.html"}}
{{define "title"}} login {{end}}

{{block "content" .}}

<h1 class="container lead my-3">login form</h1>

<form class="card" method="POST">

	<div class="card-body">

	<div class="input-group input-group-sm mb-3">
	<span class="input-group-text">email</span>
	<input type="email" name="email" class="form-control">
	</div>
	<div class="input-group input-group-sm mb-3">
	<span class="input-group-text">password</span>
	<input type="password" name="password" class="form-control">
	</div>
	
	<div class="card-footer">
	<input type="submit" value="submit" class="btn btn-sm btn-outline-primary mt-3">
	</div>
	
</form>
	  
{{end}}