{{ template "./tpl/base.html" }}
{{ define "title" }} owner user subscription {{ end }}

{{ block "content" . }}

<h1 class="container lead my-2">owner subscription</h1>
	
{{ range . }}
<ul class="list-group list-group-flush">

	<li class="card">
		<div class="card-header">
		{{ if ne .To_user nil }}
		<a class="btn btn-outline-primary btn-sm" href="/user?id={{ .Id }}" role="button">
			<sup>to user chat:</sup> {{ .Id }}
		</a>
		{{ else }}
		<a class="btn btn-outline-primary btn-sm" href="/group?id={{ .Id }}" role="button">
			<sup>to group chat:</sup> {{ .To_group }}
		</a>
		{{ end }}
	</div>
	</li>

	<li class="list-group-item">
		<sup>id:</sup> {{ .Id }},
		<sup>owner:</sup> {{ .Owner }}
	</li>
	<li class="list-group-item">
		<sup>title:</sup> {{ .Title }}
	</li>

	<li class="list-group-item">
		{{ if ne .To_user nil }}
		<sup>to user:</sup> {{ .To_user }}
		{{ else }}
		<sup>to group:</sup> {{ .To_group }}
		{{ end }}
	</li>
	<li class="list-group-item">
		<sup>completed:</sup> {{ .Completed }}
	</li>


	<li class="list-group-item">
	<sup>created:</sup>
	<time>
	{{ .Created_at.Format "2006-01-02 15:04:05" }}
	</time>
	</li>
	<li class="list-group-item">
	{{ if ne .Updated_at nil }}
	<sup>updated:</sup> 
	<time>
	{{ .Updated_at.Format "2006-01-02 15:04:05" }}
	</time>
	{{ else }}
		there are no updates
	{{ end }}
	</li>

	<li class="card">
	<div class="card-footer">
	<a class="btn btn-outline-primary btn-sm me-2" href="/detail-ssc?id={{ .Id }}" role="button">
		details
	</a>
	</div>
	</li>

</ul>

{{ end }}
	  
{{ end }}